.menu-app {
  display: flex;
  flex-direction: row;
  gap: 10em;
  padding: 5em;
}

.inventory-container {
  ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: right;
  }
  li {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: right;
  }
}

.cart-container {
  display: flex;
  flex-direction: column;
  border-color: black;
  padding: 3em;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: right;
  }

  li {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: end;
  }
}